<h1 class="h3 mb-2">{{ subject }}</h1>
<h5 class="text-teal-700">{{ name }}</h5>
<hr>
<div class="space-y-3">
    <p class="text-gray-700">
        A new admin account has been created for you. Your credentials: {# TODO: trans #}
    </p>
    <ul class="text-gray-700">
        <li>Username: <b>{{ user }}</b></li> {# TODO: trans #}
        <li>Password: <b>{{ password }}</b></li> {# TODO: trans #}
    </ul>
</div>
