{% extends 'mail/layout/default.html.twig' %}

{% block title %}
    {{ subject }}
{% endblock %}

{% block content %}
    {% include 'mail/admin/_welcome.html.twig' %}
    <hr>
    <a class="btn btn-primary" href="#/{{ confirmationToken }}" target="_blank">Activate</a> {# TODO: trans #}
{% endblock %}
