{% extends 'mail/layout/default.html.twig' %}

{% block title %}
    {{ subject }}
{% endblock %}

{% block content %}
    <h1 class="h3 mb-2">{{ subject }}</h1>
    <h5 class="text-teal-700">{{ name }}</h5>
    <hr>
    <div class="space-y-3">
        <p class="text-gray-700">
            Your new password: <b>{{ password }}</b>{# TODO: trans #}
        </p>

        {% include 'mail/admin/_change_password.html.twig' %}
    </div>
    <hr>
    <a class="btn btn-primary" href="/login" target="_blank">Login</a> {# TODO: trans #}
{% endblock %}
